{% extends 'base.html' %}

{% block content %}
<div class="detailContent">
  
  <div class="detail">

    <p>성명 : {{apply_detail.name}}</p>
    <p>나이 : {{apply_detail.age}}</p>
    <p>성별 : {{apply_detail.sex}}</p>
    <br>
    <p>{{apply_detail.body}}</p>
    <br>
    <p>{{apply_detail.pub_date}}</p>
  </div>
  <!-- detail -->
  <div class="detailImage">
    <p><img src="{{ apply_detail.image.url }}" alt="" height="300" width="300"></p>
  </div>
  <!-- detailImage -->
</div>
<!-- detailContent -->
<div class="linkbar">
<a href="{% url 'update' apply_detail.id %}">수정</a>
<a href="{% url 'delete' apply_detail.id %}">삭제</a>
<a href="{% url 'home' %}"><p>메인으로 가기</p></a>
</div>
<!-- linkbar -->
{% endblock %}


