{% extends 'base.html' %}

{% block content %}
<div class="music_info">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/_0pyGclSurg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<!-- music_info -->
<div class="body_info">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/jj6ze_eqmYI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<!-- body_info -->
{% endblock %}
